In [6]:
import pandas as pd

In [8]:
cars = pd.read_csv(r"C:\Users\sekha\OneDrive\Documents\HERO VIRED DATA SCEINCE\PYTHON SOWRESH practice\Pandas and numpy\data.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
cars.head

<bound method NDFrame.head of           Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]>

In [5]:
cars.shape

(11914, 16)

In [6]:
cars.ndim

2

In [7]:
cars.size

190624

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [9]:
cars.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [10]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [11]:
cars.value_counts('Make')

Make
Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Bugatti             3
Genesis             3
Name: count, dtype: int64

In [12]:
cars['Make'].value_counts()

Make
Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: count, dtype: int64

In [13]:
cars.value_counts('Transmission Type')

Transmission Type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: count, dtype: int64

In [14]:
cars.value_counts('Vehicle Size')

Vehicle Size
Compact    4764
Midsize    4373
Large      2777
Name: count, dtype: int64

In [15]:
cars.value_counts('Vehicle Style')

Vehicle Style
Sedan                  3048
4dr SUV                2488
Coupe                  1211
Convertible             793
4dr Hatchback           702
Crew Cab Pickup         681
Extended Cab Pickup     623
Wagon                   592
2dr Hatchback           506
Passenger Minivan       417
Regular Cab Pickup      392
2dr SUV                 138
Passenger Van           128
Cargo Van                95
Cargo Minivan            71
Convertible SUV          29
Name: count, dtype: int64

In [16]:
cars['Make'] #this can handle columns names which has spaces

0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object

In [17]:
cars.Make # Cannot handle columns which has spaces

0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object

In [18]:
cars[["Make","Vehicle Style"]]

          Make  Vehicle Style
0          BMW          Coupe
1          BMW    Convertible
2          BMW          Coupe
3          BMW          Coupe
4          BMW    Convertible
...        ...            ...
11909    Acura  4dr Hatchback
11910    Acura  4dr Hatchback
11911    Acura  4dr Hatchback
11912    Acura  4dr Hatchback
11913  Lincoln          Sedan

[11914 rows x 2 columns]

In [19]:
cars.iloc[0:5] #select based on positions

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [20]:
cars.loc[0:5] # selects based on labels

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
5,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,31200

In [21]:
cars.head(0) #display first row

Empty DataFrame
Columns: [Make, Model, Year, Engine Fuel Type, Engine HP, Engine Cylinders, Transmission Type, Driven_Wheels, Number of Doors, Market Category, Vehicle Size, Vehicle Style, highway MPG, city mpg, Popularity, MSRP]
Index: []

In [22]:
cars.head(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350

In [23]:
type(cars) # Entire Data is Data Frame

pandas.core.frame.DataFrame

In [24]:
type(cars.Make) # Individual column will be Series

pandas.core.series.Series

In [25]:
s= pd.Series([20,30,35,45],index= ['a',2,'c',4])

In [26]:
s

a    20
2    30
c    35
4    45
dtype: int64

In [27]:
s.iloc[0]

20

In [28]:
s.loc['c']

35

In [29]:
sample= {'name':['rahul','sow','ram'],'age':[10,20,30]}

In [30]:
sample

{'name': ['rahul', 'sow', 'ram'], 'age': [10, 20, 30]}

In [31]:
pd.DataFrame(sample) #converting Dict into DataFrame

    name  age
0  rahul   10
1    sow   20
2    ram   30

In [32]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [33]:
cars.iloc[0:3,3:5] #rows index and we will give columns index

              Engine Fuel Type  Engine HP
0  premium unleaded (required)      335.0
1  premium unleaded (required)      300.0
2  premium unleaded (required)      300.0

In [16]:
cars.mode(numeric_only=False)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,Chevrolet,Silverado 1500,2015,regular unleaded,200.0,4.0,AUTOMATIC,front wheel drive,4.0,Crossover,Compact,Sedan,24,17,1385,2000

In [22]:
cars['Model'].value_counts()

Model
Silverado 1500        156
Tundra                140
F-150                 126
Sierra 1500            90
Beetle Convertible     89
                     ...
MKZ Hybrid              1
M4 GTS                  1
LFA                     1
Horizon                 1
Zephyr                  1
Name: count, Length: 915, dtype: int64

In [35]:
cars.max(numeric_only=True)

Year                   2017.0
Engine HP              1001.0
Engine Cylinders         16.0
Number of Doors           4.0
highway MPG             354.0
city mpg                137.0
Popularity             5657.0
MSRP                2065902.0
dtype: float64

In [36]:
cars.std(numeric_only=True)

Year                    7.579740
Engine HP             109.191870
Engine Cylinders        1.780559
Number of Doors         0.881315
highway MPG             8.863001
city mpg                8.987798
Popularity           1441.855347
MSRP                60109.103604
dtype: float64

In [37]:
cars.corr(numeric_only=True)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
Year,1.000000,0.351794,-0.041479,0.263787,0.258240,0.198171,0.073049,0.227590
Engine HP,0.351794,1.000000,0.779988,-0.102713,-0.406563,-0.439371,0.037501,0.662008
Engine Cylinders,-0.041479,0.779988,1.000000,-0.140088,-0.621606,-0.600776,0.041145,0.531312
Number of Doors,0.263787,-0.102713,-0.140088,1.000000,0.118570,0.120881,-0.048272,-0.126635
highway MPG,0.258240,-0.406563,-0.621606,0.118570,1.000000,0.886829,-0.020991,-0.160043
city mpg,0.198171,-0.439371,-0.600776,0.120881,0.886829,1.000000,-0.003217,-0.157676
Popularity,0.073049,0.037501,0.041145,-0.048272,-0.020991,-0.003217,1.000000,-0.048476
MSRP,0.227590,0.662008,0.531312,-0.126635,-0.160043,-0.157676,-0.048476,1.000000

In [38]:
cars.isnull().sum() #False will be 0's and True's will be 1's

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [39]:
cars['Engine Fuel Type'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
11909    False
11910    False
11911    False
11912    False
11913    False
Name: Engine Fuel Type, Length: 11914, dtype: bool

In [40]:
cars[cars['Engine Fuel Type'].isnull()]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499

In [41]:
cars[(cars.Make=='Suzuki')&(cars.Model=='Verona')]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499
11324,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,19349
11325,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,21049
11326,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,17549
11327,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,20549
11328,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20299
11329,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18299

In [42]:
cars[(cars.Make=='Suzuki')&(cars.Model=='Verona')]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499
11324,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,19349
11325,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,21049
11326,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,17549
11327,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,20549
11328,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20299
11329,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18299

In [43]:
cars['Engine Fuel Type'].fillna("regular unleaded",inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_13244\3856863507.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Engine Fuel Type'].fillna("regular unleaded",inplace=True)

In [44]:
cars[cars['Engine Fuel Type'].isnull()]

Empty DataFrame
Columns: [Make, Model, Year, Engine Fuel Type, Engine HP, Engine Cylinders, Transmission Type, Driven_Wheels, Number of Doors, Market Category, Vehicle Size, Vehicle Style, highway MPG, city mpg, Popularity, MSRP]
Index: []

In [45]:
cars[cars['Engine HP'].isnull()]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
539,FIAT,500e,2015,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,108,122,819,31800
540,FIAT,500e,2016,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,103,121,819,31800
541,FIAT,500e,2017,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,103,121,819,31800
2905,Lincoln,Continental,2017,premium unleaded (recommended),NaN,6.0,AUTOMATIC,all wheel drive,4.0,Luxury,Large,Sedan,25,17,61,55915
2906,Lincoln,Continental,2017,premium unleaded (recommended),NaN,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Large,Sedan,27,18,61,62915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9850,Kia,Soul EV,2015,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,4.0,NaN,Compact,Wagon,92,120,1720,35700
9851,Kia,Soul EV,2015,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,4.0,NaN,Compact,Wagon,92,120,1720,33700
9852,Kia,Soul EV,2016,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,4.0,NaN,Compact,Wagon,92,120,1720,33950
9853,Kia,Soul EV,2016,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,4.0,NaN,Compact,Wagon,92,120,1720,31950
9854,Kia,Soul EV,2016,electric,NaN,0.0,DIRECT_DRIVE,front wheel drive,4.0,NaN,Compact,Wagon,92,120,1720,35950

In [46]:
cars['Engine HP'].fillna(cars['Engine HP'].median(),inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_13244\392811311.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Engine HP'].fillna(cars['Engine HP'].median(),inplace=True)

In [47]:
cars[cars['Engine HP'].isnull()]

Empty DataFrame
Columns: [Make, Model, Year, Engine Fuel Type, Engine HP, Engine Cylinders, Transmission Type, Driven_Wheels, Number of Doors, Market Category, Vehicle Size, Vehicle Style, highway MPG, city mpg, Popularity, MSRP]
Index: []

In [48]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP               0
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [49]:
cars.var(numeric_only=True)

Year                5.745246e+01
Engine HP           1.185669e+04
Engine Cylinders    3.170392e+00
Number of Doors     7.767168e-01
highway MPG         7.855278e+01
city mpg            8.078052e+01
Popularity          2.078947e+06
MSRP                3.613104e+09
dtype: float64

In [50]:
cars.corr(numeric_only=True)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
Year,1.000000,0.350573,-0.041479,0.263787,0.258240,0.198171,0.073049,0.227590
Engine HP,0.350573,1.000000,0.767779,-0.103148,-0.359457,-0.353894,0.036823,0.661402
Engine Cylinders,-0.041479,0.767779,1.000000,-0.140088,-0.621606,-0.600776,0.041145,0.531312
Number of Doors,0.263787,-0.103148,-0.140088,1.000000,0.118570,0.120881,-0.048272,-0.126635
highway MPG,0.258240,-0.359457,-0.621606,0.118570,1.000000,0.886829,-0.020991,-0.160043
city mpg,0.198171,-0.353894,-0.600776,0.120881,0.886829,1.000000,-0.003217,-0.157676
Popularity,0.073049,0.036823,0.041145,-0.048272,-0.020991,-0.003217,1.000000,-0.048476
MSRP,0.227590,0.661402,0.531312,-0.126635,-0.160043,-0.157676,-0.048476,1.000000

In [51]:
cars['Engine HP'].fillna(cars['Engine HP'].median(),inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_13244\392811311.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Engine HP'].fillna(cars['Engine HP'].median(),inplace=True)

In [52]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP               0
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [53]:
cars[cars['Engine Cylinders'].isnull()]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
1983,Chevrolet,Bolt EV,2017,electric,200.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,110,128,1385,40905
1984,Chevrolet,Bolt EV,2017,electric,200.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,110,128,1385,36620
3716,Volkswagen,e-Golf,2015,electric,115.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,105,126,873,33450
3717,Volkswagen,e-Golf,2015,electric,115.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,105,126,873,35445
3718,Volkswagen,e-Golf,2016,electric,115.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,105,126,873,28995
3719,Volkswagen,e-Golf,2016,electric,115.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,105,126,873,35595
5778,Mitsubishi,i-MiEV,2014,electric,227.0,NaN,DIRECT_DRIVE,rear wheel drive,4.0,Hatchback,Compact,4dr Hatchback,99,126,436,22995
5779,Mitsubishi,i-MiEV,2016,electric,66.0,NaN,DIRECT_DRIVE,rear wheel drive,4.0,Hatchback,Compact,4dr Hatchback,99,126,436,22995
5780,Mitsubishi,i-MiEV,2017,electric,66.0,NaN,DIRECT_DRIVE,rear wheel drive,4.0,Hatchback,Compact,4dr Hatchback,102,121,436,22995
8373,Toyota,RAV4 EV,2012,electric,154.0,NaN,DIRECT_DRIVE,front wheel drive,4.0,Crossover,Midsize,4dr SUV,74,78,2031,49800
8695,Mazda,RX-7,1993,regular unleaded,255.0,NaN,MANUAL,rear wheel drive,2.0,"Factory Tuner,Performance",Compact,Coupe,23,15,586,7523
8696,Mazda,RX-7,1994,regular unleaded,255.0,NaN,MANUAL,rear wheel drive,2.0,"Factory Tuner,Performance",Compact,Coupe,23,15,586,8147
8697,Mazda,RX-7,1995,regular unleaded,255.0,NaN,MANUAL,rear wheel drive,2.0,"Factory Tuner,Performance",Compact,Coupe,23,15,586,8839
8698,Mazda,RX-8,2009,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,31930
8699,Mazda,RX-8,2009,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,26435
8700,Mazda,RX-8,2009,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,27860
8701,Mazda,RX-8,2009,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,31000
8702,Mazda,RX-8,2009,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,26435
8703,Mazda,RX-8,2009,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,31700
8704,Mazda,RX-8,2009,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,28560
8705,Mazda,RX-8,2010,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,32140
8706,Mazda,RX-8,2010,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,26645
8707,Mazda,RX-8,2010,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,32810
8708,Mazda,RX-8,2010,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,26645
8709,Mazda,RX-8,2010,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,32110
8710,Mazda,RX-8,2011,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,32960
8711,Mazda,RX-8,2011,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,32260
8712,Mazda,RX-8,2011,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,32290
8713,Mazda,RX-8,2011,premium unleaded (required),232.0,NaN,MANUAL,rear wheel drive,4.0,Performance,Compact,Coupe,22,16,586,26795
8714,Mazda,RX-8,2011,premium unleaded (required),212.0,NaN,AUTOMATIC,rear wheel drive,4.0,Performance,Compact,Coupe,23,16,586,26795

In [57]:
cars['Engine Cylinders'].fillna(cars['Engine Cylinders'].median(),inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_13244\595453462.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Engine Cylinders'].fillna(cars['Engine Cylinders'].median(),inplace=True)

In [59]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP               0
Engine Cylinders        0
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [61]:
cars['Number of Doors'].fillna(cars['Number of Doors'].median(),inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_13244\1572235014.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Number of Doors'].fillna(cars['Number of Doors'].median(),inplace=True)

In [69]:
cars.drop(labels='Market Category',axis=1,inplace=True)

In [73]:
cars.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [75]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,18,3916,34500

In [256]:
Cars_cleaned_data=cars.to_csv(r"C:\Users\sekha\OneDrive\Documents\HERO VIRED DATA SCEINCE\PYTHON SOWRESH practice\Pandas and numpy\claened_data.csv")

## Filters, Sort, Group BY

In [82]:
cars[cars['MSRP']>400000]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
612,Maybach,57,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,455500
613,Maybach,57,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,405500
615,Maybach,57,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,412000
617,Maybach,57,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,418950
622,Ferrari,599,2011,premium unleaded (required),661.0,12.0,AUTOMATED_MANUAL,rear wheel drive,2.0,Midsize,Coupe,15,11,2774,410000
696,Maybach,62,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,456500
697,Maybach,62,2010,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,417000
698,Maybach,62,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,506500
699,Maybach,62,2011,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,423500
700,Maybach,62,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,463000
701,Maybach,62,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,470350
702,Maybach,62,2012,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,430450
1620,Lamborghini,Aventador,2014,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,441600
1622,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,548800
1623,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,497650
1624,Lamborghini,Aventador,2015,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,441600
1626,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,548800
1627,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,497650
1628,Lamborghini,Aventador,2016,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,17,10,1158,443800
1629,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,18,11,1158,535500
1630,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,490700
2339,Porsche,Carrera GT,2004,premium unleaded (required),605.0,10.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,15,9,1715,440000
2340,Porsche,Carrera GT,2005,premium unleaded (required),605.0,10.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,15,9,1715,440000
4024,Ferrari,Enzo,2003,premium unleaded (required),660.0,12.0,AUTOMATED_MANUAL,rear wheel drive,2.0,Compact,Coupe,12,7,2774,643330
6350,Maybach,Landaulet,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Convertible,16,10,67,1380000
6351,Maybach,Landaulet,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Convertible,16,10,67,1382750
7063,Lamborghini,Murcielago,2010,premium unleaded (required),670.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,9,1158,450000
7553,Rolls-Royce,Phantom Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,433550
7554,Rolls-Royce,Phantom Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,438325
7555,Rolls-Royce,Phantom Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,449525
7556,Rolls-Royce,Phantom Drophead Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,474600
7557,Rolls-Royce,Phantom Drophead Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,479775
7558,Rolls-Royce,Phantom Drophead Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,492000
7559,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,402940
7560,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,474990
7561,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,407400
7562,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,480175
7563,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,417825
7564,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,492425
8486,Lamborghini,Reventon,2008,premium unleaded (required),650.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,9,1158,1500000
9682,Mercedes-Benz,SLR McLaren,2007,premium unleaded (required),641.0,8.0,AUTOMATIC,rear wheel drive,2.0,Compact,Coupe,16,11,617,480000
9683,Mercedes-Benz,SLR McLaren,2008,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,Compact,Convertible,16,12,617,495000
9684,Mercedes-Benz,SLR McLaren,2009,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,Compact,Convertible,16,12,617,495000
11362,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,2065902
11363,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,1500000
11364,Bugatti,Veyron 16.4,2009,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,1705769

In [128]:
cars[(cars.Year>2007)&(cars.MSRP>400000)]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
612,Maybach,57,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,455500
613,Maybach,57,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,405500
615,Maybach,57,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,412000
617,Maybach,57,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,418950
622,Ferrari,599,2011,premium unleaded (required),661.0,12.0,AUTOMATED_MANUAL,rear wheel drive,2.0,Midsize,Coupe,15,11,2774,410000
696,Maybach,62,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,456500
697,Maybach,62,2010,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,417000
698,Maybach,62,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,506500
699,Maybach,62,2011,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,423500
700,Maybach,62,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,463000
701,Maybach,62,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,470350
702,Maybach,62,2012,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,16,10,67,430450
1620,Lamborghini,Aventador,2014,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,441600
1622,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,548800
1623,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,497650
1624,Lamborghini,Aventador,2015,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,441600
1626,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,16,10,1158,548800
1627,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,497650
1628,Lamborghini,Aventador,2016,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,17,10,1158,443800
1629,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Convertible,18,11,1158,535500
1630,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Midsize,Coupe,18,11,1158,490700
6350,Maybach,Landaulet,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Convertible,16,10,67,1380000
6351,Maybach,Landaulet,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Convertible,16,10,67,1382750
7063,Lamborghini,Murcielago,2010,premium unleaded (required),670.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,9,1158,450000
7553,Rolls-Royce,Phantom Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,433550
7554,Rolls-Royce,Phantom Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,438325
7555,Rolls-Royce,Phantom Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Coupe,19,11,86,449525
7556,Rolls-Royce,Phantom Drophead Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,474600
7557,Rolls-Royce,Phantom Drophead Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,479775
7558,Rolls-Royce,Phantom Drophead Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,Large,Convertible,19,11,86,492000
7559,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,402940
7560,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,474990
7561,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,407400
7562,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,480175
7563,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,417825
7564,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,Large,Sedan,19,11,86,492425
8486,Lamborghini,Reventon,2008,premium unleaded (required),650.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,9,1158,1500000
9683,Mercedes-Benz,SLR McLaren,2008,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,Compact,Convertible,16,12,617,495000
9684,Mercedes-Benz,SLR McLaren,2009,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,Compact,Convertible,16,12,617,495000
11362,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,2065902
11363,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,1500000
11364,Bugatti,Veyron 16.4,2009,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,Compact,Coupe,14,8,820,1705769

In [25]:
cars[cars['MSRP']>400000].sort_values('MSRP',ascending=False)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11362,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,14,8,820,2065902
11364,Bugatti,Veyron 16.4,2009,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,14,8,820,1705769
11363,Bugatti,Veyron 16.4,2008,premium unleaded (required),1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,14,8,820,1500000
8486,Lamborghini,Reventon,2008,premium unleaded (required),650.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,14,9,1158,1500000
6351,Maybach,Landaulet,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Convertible,16,10,67,1382750
6350,Maybach,Landaulet,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Convertible,16,10,67,1380000
4024,Ferrari,Enzo,2003,premium unleaded (required),660.0,12.0,AUTOMATED_MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,12,7,2774,643330
1626,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,16,10,1158,548800
1622,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,16,10,1158,548800
1629,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,18,11,1158,535500
698,Maybach,62,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,506500
1623,Lamborghini,Aventador,2014,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Coupe,18,11,1158,497650
1627,Lamborghini,Aventador,2015,premium unleaded (required),720.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Coupe,18,11,1158,497650
9684,Mercedes-Benz,SLR McLaren,2009,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Factory Tuner,Luxury,High-Performance",Compact,Convertible,16,12,617,495000
9683,Mercedes-Benz,SLR McLaren,2008,premium unleaded (required),617.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Factory Tuner,Luxury,High-Performance",Compact,Convertible,16,12,617,495000
7564,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,492425
7558,Rolls-Royce,Phantom Drophead Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,492000
1630,Lamborghini,Aventador,2016,premium unleaded (required),750.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Coupe,18,11,1158,490700
7562,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,480175
9682,Mercedes-Benz,SLR McLaren,2007,premium unleaded (required),641.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Factory Tuner,Luxury,High-Performance",Compact,Coupe,16,11,617,480000
7557,Rolls-Royce,Phantom Drophead Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,479775
7560,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,474990
7556,Rolls-Royce,Phantom Drophead Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Convertible,19,11,86,474600
701,Maybach,62,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,16,10,67,470350
700,Maybach,62,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,463000
696,Maybach,62,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,456500
612,Maybach,57,2010,premium unleaded (required),631.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,455500
7063,Lamborghini,Murcielago,2010,premium unleaded (required),670.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,Factory Tuner,High-Performance",Compact,Coupe,14,9,1158,450000
7555,Rolls-Royce,Phantom Coupe,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,449525
1628,Lamborghini,Aventador,2016,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,17,10,1158,443800
1620,Lamborghini,Aventador,2014,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,16,10,1158,441600
1624,Lamborghini,Aventador,2015,premium unleaded (required),700.0,12.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Exotic,High-Performance",Midsize,Convertible,16,10,1158,441600
2340,Porsche,Carrera GT,2005,premium unleaded (required),605.0,10.0,MANUAL,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Compact,Convertible,15,9,1715,440000
2339,Porsche,Carrera GT,2004,premium unleaded (required),605.0,10.0,MANUAL,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Compact,Convertible,15,9,1715,440000
7554,Rolls-Royce,Phantom Coupe,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,438325
7553,Rolls-Royce,Phantom Coupe,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,Performance",Large,Coupe,19,11,86,433550
702,Maybach,62,2012,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury",Large,Sedan,16,10,67,430450
699,Maybach,62,2011,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury",Large,Sedan,16,10,67,423500
617,Maybach,57,2012,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,16,10,67,418950
7563,Rolls-Royce,Phantom,2016,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,417825
697,Maybach,62,2010,premium unleaded (required),543.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury",Large,Sedan,16,10,67,417000
615,Maybach,57,2011,premium unleaded (required),620.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,412000
622,Ferrari,599,2011,premium unleaded (required),661.0,12.0,AUTOMATED_MANUAL,rear wheel drive,2.0,"Exotic,Factory Tuner,High-Performance",Midsize,Coupe,15,11,2774,410000
7561,Rolls-Royce,Phantom,2015,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,407400
613,Maybach,57,2010,premium unleaded (required),604.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,High-Performance",Large,Sedan,16,10,67,405500
7559,Rolls-Royce,Phantom,2014,premium unleaded (required),453.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,19,11,86,402940

In [100]:
#no of Electric cars in the database

In [104]:
cars.value_counts('Engine Fuel Type')

Engine Fuel Type
regular unleaded                                7175
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
natural gas                                        2
Name: count, dtype: int64

In [118]:
cars[cars['Engine Fuel Type']=='electric']

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
539,FIAT,500e,2015,electric,227.0,0.0,DIRECT_DRIVE,front wheel drive,2.0,Compact,2dr Hatchback,108,122,819,31800
540,FIAT,500e,2016,electric,227.0,0.0,DIRECT_DRIVE,front wheel drive,2.0,Compact,2dr Hatchback,103,121,819,31800
541,FIAT,500e,2017,electric,227.0,0.0,DIRECT_DRIVE,front wheel drive,2.0,Compact,2dr Hatchback,103,121,819,31800
1680,Mercedes-Benz,B-Class Electric Drive,2015,electric,177.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,82,85,617,41450
1681,Mercedes-Benz,B-Class Electric Drive,2016,electric,177.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,82,85,617,41450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9868,Chevrolet,Spark EV,2014,electric,140.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,109,128,1385,27010
9869,Chevrolet,Spark EV,2015,electric,140.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,109,128,1385,25170
9870,Chevrolet,Spark EV,2015,electric,140.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,109,128,1385,25560
9871,Chevrolet,Spark EV,2016,electric,140.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,109,128,1385,25510
9872,Chevrolet,Spark EV,2016,electric,140.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,Compact,4dr Hatchback,109,128,1385,25120

In [29]:
# How many cars which are made in post 2015 and are from BMW
cars[(cars['Year']>2015)&(cars['Make']=='BMW')]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
41,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,35,23,3916,32850
42,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,rear wheel drive,2.0,Luxury,Compact,Convertible,34,23,3916,38650
43,BMW,2 Series,2016,premium unleaded (required),320.0,6.0,AUTOMATIC,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Convertible,31,20,3916,48750
44,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,all wheel drive,2.0,"Luxury,Performance",Compact,Coupe,35,23,3916,34850
45,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,all wheel drive,2.0,Luxury,Compact,Convertible,34,22,3916,40650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11533,BMW,X6,2017,premium unleaded (required),445.0,8.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Luxury,Performance",Midsize,4dr SUV,21,15,3916,76100
11534,BMW,X6,2017,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Luxury",Midsize,4dr SUV,24,18,3916,63700
11900,BMW,Z4,2016,premium unleaded (required),300.0,6.0,AUTOMATED_MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Convertible,24,17,3916,57500
11901,BMW,Z4,2016,premium unleaded (required),240.0,4.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,34,22,3916,49700
11902,BMW,Z4,2016,premium unleaded (required),335.0,6.0,AUTOMATED_MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Convertible,24,17,3916,66350

In [156]:
#how many cars are there which are front wheel or back wheel and are sedans and they are luxuary which is >400000
cars[((cars.Driven_Wheels=='rear wheel drive') | (cars.Driven_Wheels=='front wheel drive')) & (cars['Vehicle Style']=='Sedan') & (cars.MSRP>40000)]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
132,BMW,3 Series,2015,premium unleaded (required),335.0,6.0,AUTOMATIC,rear wheel drive,4.0,Midsize,Sedan,33,25,3916,50150
134,BMW,3 Series,2015,premium unleaded (required),300.0,6.0,AUTOMATIC,rear wheel drive,4.0,Midsize,Sedan,32,21,3916,43750
154,BMW,3 Series,2016,premium unleaded (required),320.0,6.0,AUTOMATIC,rear wheel drive,4.0,Midsize,Sedan,33,22,3916,45800
161,BMW,3 Series,2017,diesel,180.0,4.0,AUTOMATIC,rear wheel drive,4.0,Midsize,Sedan,42,32,3916,40250
163,BMW,3 Series,2017,premium unleaded (recommended),320.0,6.0,AUTOMATIC,rear wheel drive,4.0,Midsize,Sedan,32,21,3916,47900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11781,Cadillac,XTS,2016,regular unleaded,304.0,6.0,AUTOMATIC,front wheel drive,4.0,Large,Sedan,28,18,1624,64550
11783,Cadillac,XTS,2017,regular unleaded,304.0,6.0,AUTOMATIC,front wheel drive,4.0,Large,Sedan,28,18,1624,45295
11785,Cadillac,XTS,2017,regular unleaded,304.0,6.0,AUTOMATIC,front wheel drive,4.0,Large,Sedan,28,18,1624,49295
11790,Cadillac,XTS,2017,regular unleaded,304.0,6.0,AUTOMATIC,front wheel drive,4.0,Large,Sedan,28,18,1624,64595
11791,Cadillac,XTS,2017,regular unleaded,304.0,6.0,AUTOMATIC,front wheel drive,4.0,Large,Sedan,28,18,1624,55795

In [180]:
cars.groupby('Transmission Type').MSRP.mean()

Transmission Type
AUTOMATED_MANUAL    99508.370607
AUTOMATIC           41110.331720
DIRECT_DRIVE        47351.250000
MANUAL              26663.644293
UNKNOWN              3040.736842
Name: MSRP, dtype: float64

In [188]:
cars.groupby(['Transmission Type','Number of Doors']).MSRP.mean()

Transmission Type  Number of Doors
AUTOMATED_MANUAL   2.0                158868.284314
                   3.0                 20783.333333
                   4.0                 43601.120130
AUTOMATIC          2.0                 58052.289768
                   3.0                 19654.535168
                   4.0                 39237.921488
DIRECT_DRIVE       2.0                 31800.000000
                   4.0                 48069.000000
MANUAL             2.0                 33603.315569
                   3.0                 12141.607143
                   4.0                 17750.478908
UNKNOWN            2.0                  3098.555556
                   4.0                  2000.000000
Name: MSRP, dtype: float64

In [190]:
cars.groupby('Make')['MSRP'].agg(['mean', 'count', 'max'])

                       mean  count      max
Make
Acura          3.488759e+04    252   156000
Alfa Romeo     6.160000e+04      5    68400
Aston Martin   1.979104e+05     93   320695
Audi           5.345211e+04    328   199900
BMW            6.154676e+04    334   141200
Bentley        2.471693e+05     74   363000
Bugatti        1.757224e+06      3  2065902
Buick          2.820661e+04    196    49625
Cadillac       5.623132e+04    397   104215
Chevrolet      2.835039e+04   1123    92395
Chrysler       2.672296e+04    187    49470
Dodge          2.239006e+04    626   120395
FIAT           2.267024e+04     62    31800
Ferrari        2.382188e+05     69   643330
Ford           2.739927e+04    881   149995
GMC            3.049330e+04    515    71665
Genesis        4.661667e+04      3    54550
HUMMER         3.646441e+04     17    43130
Honda          2.667434e+04    449    47070
Hyundai        2.459704e+04    303    68750
Infiniti       4.239421e+04    330    88850
Kia            2.531017e+04    231    61900
Lamborghini    3.315673e+05     52  1500000
Land Rover     6.782322e+04    143   199495
Lexus          4.754907e+04    202   375000
Lincoln        4.283983e+04    164    76650
Lotus          6.918828e+04     29    93225
Maserati       1.142077e+05     58   182009
Maybach        5.462219e+05     16  1382750
Mazda          2.003938e+04    423    44015
McLaren        2.398050e+05      5   280225
Mercedes-Benz  7.147623e+04    353   495000
Mitsubishi     2.124054e+04    213    38995
Nissan         2.858343e+04    558   149990
Oldsmobile     1.154254e+04    150    36795
Plymouth       3.122902e+03     82    44625
Pontiac        1.932155e+04    186    37610
Porsche        1.016224e+05    136   440000
Rolls-Royce    3.511306e+05     31   492425
Saab           2.741350e+04    111    51330
Scion          1.993250e+04     60    31090
Spyker         2.133233e+05      3   219990
Subaru         2.482750e+04    256    39995
Suzuki         1.790721e+04    351    31749
Tesla          8.525556e+04     18   134500
Toyota         2.903002e+04    746    84325
Volkswagen     2.810238e+04    809   101300
Volvo          2.854116e+04    281    65700

In [196]:
cars.pivot_table(index=['Transmission Type','Vehicle Size'],values=['MSRP','Engine HP'],aggfunc='count')

                                Engine HP  MSRP
Transmission Type Vehicle Size
AUTOMATED_MANUAL  Compact             416   416
                  Large                38    38
                  Midsize             172   172
AUTOMATIC         Compact            2124  2124
                  Large              2464  2464
                  Midsize            3678  3678
DIRECT_DRIVE      Compact              45    45
                  Large                18    18
                  Midsize               5     5
MANUAL            Compact            2173  2173
                  Large               249   249
                  Midsize             513   513
UNKNOWN           Compact               6     6
                  Large                 8     8
                  Midsize               5     5

In [200]:
cars.pivot_table(
    index=['Transmission Type', 'Vehicle Size'],values=['MSRP', 'Engine HP'],aggfunc={'MSRP': 'mean', 'Engine HP': 'max'}
)

                                Engine HP           MSRP
Transmission Type Vehicle Size
AUTOMATED_MANUAL  Compact          1001.0  100302.355769
                  Large             651.0  144656.947368
                  Midsize           750.0   87613.348837
AUTOMATIC         Compact           641.0   27823.514124
                  Large             707.0   56874.129464
                  Midsize           631.0   38222.676183
DIRECT_DRIVE      Compact           227.0   32894.222222
                  Large             227.0   85255.555556
                  Midsize           227.0   41009.000000
MANUAL            Compact           650.0   28058.469857
                  Large             707.0    9913.658635
                  Midsize           662.0   28885.458090
UNKNOWN           Compact           190.0    2247.333333
                  Large             125.0    2000.000000
                  Midsize           305.0    5658.000000

## JOINS

In [218]:
import pandas as pd

left = pd.DataFrame({'CustomerID': [1, 2, 3, 4],'Name': ['Alice', 'Bob', 'Charlie', 'David'],
                             'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})
left

   CustomerID     Name         City
0           1    Alice     New York
1           2      Bob  Los Angeles
2           3  Charlie      Chicago
3           4    David      Houston

In [220]:
right = pd.DataFrame({
    'OrderID': [101, 102, 103, 104, 105],
    'CustomerID': [3, 1, 1, 5, 2],
    'Amount': [250, 300, 150, 200, 400]
})
right

   OrderID  CustomerID  Amount
0      101           3     250
1      102           1     300
2      103           1     150
3      104           5     200
4      105           2     400

In [224]:
left.merge(right,on='CustomerID',how='inner')

   CustomerID     Name         City  OrderID  Amount
0           1    Alice     New York      102     300
1           1    Alice     New York      103     150
2           2      Bob  Los Angeles      105     400
3           3  Charlie      Chicago      101     250

In [248]:
T1 = pd.DataFrame({'CustomerID': [1, 2, 3, 4],'Name': ['Alice', 'Bob', 'Charlie', 'David'],
                             'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})
T1

   CustomerID     Name         City
0           1    Alice     New York
1           2      Bob  Los Angeles
2           3  Charlie      Chicago
3           4    David      Houston

In [246]:
T2 = pd.DataFrame({
    'OrderID': [101, 102, 103, 104, 105],
    'CustomerID': [3, 1, 1, 5, 2],
    'Amount': [250, 300, 150, 200, 400]
})
T2

   OrderID  CustomerID  Amount
0      101           3     250
1      102           1     300
2      103           1     150
3      104           5     200
4      105           2     400

In [240]:
T1.merge(T2,on='CustomerID',how='inner')

   CustomerID     Name         City  OrderID  Amount
0           1    Alice     New York      102     300
1           1    Alice     New York      103     150
2           2      Bob  Los Angeles      105     400
3           3  Charlie      Chicago      101     250

In [242]:
T1.merge(T2,on='CustomerID',how='outer')

   CustomerID     Name         City  OrderID  Amount
0           1    Alice     New York    102.0   300.0
1           1    Alice     New York    103.0   150.0
2           2      Bob  Los Angeles    105.0   400.0
3           3  Charlie      Chicago    101.0   250.0
4           4    David      Houston      NaN     NaN
5           5      NaN          NaN    104.0   200.0

In [252]:
pd.concat([T1, T2], axis=0)

   CustomerID     Name         City  OrderID  Amount
0           1    Alice     New York      NaN     NaN
1           2      Bob  Los Angeles      NaN     NaN
2           3  Charlie      Chicago      NaN     NaN
3           4    David      Houston      NaN     NaN
0           3      NaN          NaN    101.0   250.0
1           1      NaN          NaN    102.0   300.0
2           1      NaN          NaN    103.0   150.0
3           5      NaN          NaN    104.0   200.0
4           2      NaN          NaN    105.0   400.0

In [254]:
pd.concat([T1, T2], axis=1)

   CustomerID     Name         City  OrderID  CustomerID  Amount
0         1.0    Alice     New York      101           3     250
1         2.0      Bob  Los Angeles      102           1     300
2         3.0  Charlie      Chicago      103           1     150
3         4.0    David      Houston      104           5     200
4         NaN      NaN          NaN      105           2     400

In [47]:
diamonds=pd.read_csv(r"C:\Users\sekha\Downloads\diamonds.csv\diamonds.csv")

In [49]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [53]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [55]:
diamonds.shape

(53940, 11)

In [57]:
diamonds.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [59]:
diamonds.select_dtypes(include='number').corr()

,Unnamed: 0,carat,depth,table,price,x,y,z
Unnamed: 0,1.000000,-0.377983,-0.034800,-0.100830,-0.306873,-0.405440,-0.395843,-0.399208
carat,-0.377983,1.000000,0.028224,0.181618,0.921591,0.975094,0.951722,0.953387
depth,-0.034800,0.028224,1.000000,-0.295779,-0.010647,-0.025289,-0.029341,0.094924
table,-0.100830,0.181618,-0.295779,1.000000,0.127134,0.195344,0.183760,0.150929
price,-0.306873,0.921591,-0.010647,0.127134,1.000000,0.884435,0.865421,0.861249
x,-0.405440,0.975094,-0.025289,0.195344,0.884435,1.000000,0.974701,0.970772
y,-0.395843,0.951722,-0.029341,0.183760,0.865421,0.974701,1.000000,0.952006
z,-0.399208,0.953387,0.094924,0.150929,0.861249,0.970772,0.952006,1.000000

In [61]:
diamonds.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [63]:
diamonds.z.fillna(diamonds.x*diamonds.z.mean()/diamonds.x.mean(),inplace=True)

C:\Users\sekha\AppData\Local\Temp\ipykernel_4300\3631481021.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  diamonds.z.fillna(diamonds.x*diamonds.z.mean()/diamonds.x.mean(),inplace=True)

In [65]:
diamonds.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [73]:
diamonds[diamonds['x']==0]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11182,11183,1.07,Ideal,F,SI2,61.6,56.0,4954,0.0,6.62,0.0
11963,11964,1.00,Very Good,H,VS2,63.3,53.0,5139,0.0,0.00,0.0
15951,15952,1.14,Fair,G,VS1,57.5,67.0,6381,0.0,0.00,0.0
24520,24521,1.56,Ideal,G,VS2,62.2,54.0,12800,0.0,0.00,0.0
26243,26244,1.20,Premium,D,VVS1,62.1,59.0,15686,0.0,0.00,0.0
27429,27430,2.25,Premium,H,SI2,62.8,59.0,18034,0.0,0.00,0.0
49556,49557,0.71,Good,F,SI2,64.1,60.0,2130,0.0,0.00,0.0
49557,49558,0.71,Good,F,SI2,64.1,60.0,2130,0.0,0.00,0.0

In [75]:
diamonds[diamonds['x']==0].index

Index([11182, 11963, 15951, 24520, 26243, 27429, 49556, 49557], dtype='int64')

In [77]:
diamonds.price.str.isnumeric().value_counts()

AttributeError: Can only use .str accessor with string values!


### Converting any values into NaN, so that we can replace NaN with other values based on the correlation

In [80]:
diamonds.price.str.isnumeric()

AttributeError: Can only use .str accessor with string values!

In [84]:
diamonds[diamonds.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [86]:
diamonds.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Length: 53940, dtype: bool

In [88]:
df = pd.DataFrame({'date':['2008-10-2','2008-10-27','2007-09-21','2005-10-16'],'values':[1,2,3,4]})

In [90]:
df

         date  values
0   2008-10-2       1
1  2008-10-27       2
2  2007-09-21       3
3  2005-10-16       4

In [94]:
df.dtypes

date      object
values     int64
dtype: object

In [96]:
df.date=pd.to_datetime(df.date)

In [98]:
df

        date  values
0 2008-10-02       1
1 2008-10-27       2
2 2007-09-21       3
3 2005-10-16       4

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      datetime64[ns]
 1   values  4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 196.0 bytes

In [104]:
df.dtypes

date      datetime64[ns]
values             int64
dtype: object

In [106]:
df.date=pd.to_datetime(df.date).dt.tz_localize('US/Eastern')

In [130]:
df

                       date  values
0 2008-10-02 00:00:00-04:00       1
1 2008-10-27 00:00:00-04:00       2
2 2007-09-21 00:00:00-04:00       3
3 2005-10-16 00:00:00-04:00       4

In [132]:
df.dtypes

date      datetime64[ns, US/Eastern]
values                         int64
dtype: object

In [134]:
import pytz
pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [142]:
df['india_date']=pd.to_datetime(df.date).dt.tz_convert('Asia/Kolkata')

In [144]:
df

                       date  values                india_date
0 2008-10-02 00:00:00-04:00       1 2008-10-02 09:30:00+05:30
1 2008-10-27 00:00:00-04:00       2 2008-10-27 09:30:00+05:30
2 2007-09-21 00:00:00-04:00       3 2007-09-21 09:30:00+05:30
3 2005-10-16 00:00:00-04:00       4 2005-10-16 09:30:00+05:30

In [146]:
df.dtypes

date            datetime64[ns, US/Eastern]
values                               int64
india_date    datetime64[ns, Asia/Kolkata]
dtype: object

In [164]:
df= pd.DataFrame({'timestamp':[164585223,154896446,156868584,0],'value':[1,2,3,4]})

In [166]:
df

   timestamp  value
0  164585223      1
1  154896446      2
2  156868584      3
3          0      4

In [168]:
df['timestamp']=pd.to_datetime(df['timestamp'],unit='ms')

In [170]:
df

                timestamp  value
0 1970-01-02 21:43:05.223      1
1 1970-01-02 19:01:36.446      2
2 1970-01-02 19:34:28.584      3
3 1970-01-01 00:00:00.000      4

In [172]:
import time

In [174]:
time.time()

1748454521.3954844

In [190]:
# Generate a range of Dates
data_range = pd.date_range(start='2025-04-01',end='2025-05-01',freq='D')

In [188]:
data_range

DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-05', '2025-04-06', '2025-04-07', '2025-04-08',
               '2025-04-09', '2025-04-10', '2025-04-11', '2025-04-12',
               '2025-04-13', '2025-04-14', '2025-04-15', '2025-04-16',
               '2025-04-17', '2025-04-18', '2025-04-19', '2025-04-20',
               '2025-04-21', '2025-04-22', '2025-04-23', '2025-04-24',
               '2025-04-25', '2025-04-26', '2025-04-27', '2025-04-28',
               '2025-04-29', '2025-04-30', '2025-05-01'],
              dtype='datetime64[ns]', freq='D')

## Rolling Operations

In [196]:
data= pd.Series([10,20,30,40,50,60,70,80])

In [198]:
data

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [200]:
rolling_sum= data.rolling(window=3).sum()

In [202]:
rolling_sum

0      NaN
1      NaN
2     60.0
3     90.0
4    120.0
5    150.0
6    180.0
7    210.0
dtype: float64

In [204]:
rolling_mean=data.rolling(window=3).mean()

In [206]:
rolling_mean

0     NaN
1     NaN
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
dtype: float64

## Text Handling

In [271]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Feedback': [
        'Great service!',
        '    Will not @#$ recommend.',
        'Average experience 34.',
        'Loved the 23 ambience.    ',
        'Very quick response.'
    ]
}

In [273]:
df =pd.DataFrame(data)

In [275]:
df

      Name         City                     Feedback
0    Alice     New York               Great service!
1      Bob  Los Angeles      Will not @#$ recommend.
2  Charlie      Chicago       Average experience 34.
3    David      Houston   Loved the 23 ambience.
4      Eva      Phoenix         Very quick response.

In [237]:
df['lower']=df.Feedback.str.lower()

In [239]:
df

      Name         City                 Feedback                    lower
0    Alice     New York           Great service!           great service!
1      Bob  Los Angeles  Will not @#$ recommend.  will not @#$ recommend.
2  Charlie      Chicago    Average experience34.    average experience34.
3    David      Houston    Loved the 23ambience.    loved the 23ambience.
4      Eva      Phoenix     Very quick response.     very quick response.

In [277]:
df['Upper']=df.Feedback.str.upper()

In [281]:
df

      Name         City                 Feedback                        Upper
0    Alice     New York           Great service!               GREAT SERVICE!
1      Bob  Los Angeles  Will not @#$ recommend.      WILL NOT @#$ RECOMMEND.
2  Charlie      Chicago   Average experience 34.       AVERAGE EXPERIENCE 34.
3    David      Houston   Loved the 23 ambience.   LOVED THE 23 AMBIENCE.
4      Eva      Phoenix     Very quick response.         VERY QUICK RESPONSE.

In [283]:
# removing numbers
df['Feedback']=df['Feedback'].str.replace('\d+','',regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\sekha\AppData\Local\Temp\ipykernel_4300\1687274377.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['Feedback']=df['Feedback'].str.replace('\d+','',regex=True)

In [285]:
df

      Name         City                 Feedback                        Upper
0    Alice     New York           Great service!               GREAT SERVICE!
1      Bob  Los Angeles  Will not @#$ recommend.      WILL NOT @#$ RECOMMEND.
2  Charlie      Chicago     Average experience .       AVERAGE EXPERIENCE 34.
3    David      Houston     Loved the  ambience.   LOVED THE 23 AMBIENCE.
4      Eva      Phoenix     Very quick response.         VERY QUICK RESPONSE.

In [287]:
df['Feedback']=df['Feedback'].str.strip()

In [289]:
df

      Name         City                 Feedback                        Upper
0    Alice     New York           Great service!               GREAT SERVICE!
1      Bob  Los Angeles  Will not @#$ recommend.      WILL NOT @#$ RECOMMEND.
2  Charlie      Chicago     Average experience .       AVERAGE EXPERIENCE 34.
3    David      Houston     Loved the  ambience.   LOVED THE 23 AMBIENCE.
4      Eva      Phoenix     Very quick response.         VERY QUICK RESPONSE.

In [301]:
df['Feedback']=df['Feedback'].str.replace('[@#$]','',regex=True)

In [303]:
df

      Name         City              Feedback                        Upper
0    Alice     New York        Great service!               GREAT SERVICE!
1      Bob  Los Angeles  Will not  recommend.      WILL NOT @#$ RECOMMEND.
2  Charlie      Chicago  Average experience .       AVERAGE EXPERIENCE 34.
3    David      Houston  Loved the  ambience.   LOVED THE 23 AMBIENCE.
4      Eva      Phoenix  Very quick response.         VERY QUICK RESPONSE.

In [305]:
df['Feedback']=df['Feedback'].str.title()

In [307]:
df

      Name         City              Feedback                        Upper
0    Alice     New York        Great Service!               GREAT SERVICE!
1      Bob  Los Angeles  Will Not  Recommend.      WILL NOT @#$ RECOMMEND.
2  Charlie      Chicago  Average Experience .       AVERAGE EXPERIENCE 34.
3    David      Houston  Loved The  Ambience.   LOVED THE 23 AMBIENCE.
4      Eva      Phoenix  Very Quick Response.         VERY QUICK RESPONSE.